#JS-definition {
    display: none;
    background-color: red;
}

#Operator-definition {
    display: none;
    background-color: red;
}

.Operator-clickable {
    cursor: pointer;
    color: #0088cc;
    float: right;
  }

.JS-clickable {
    cursor: pointer;
    color: #0088cc;
    float: right;
  }

.jumbotron {
    text-align: center;
}

.col-md-6 {
    background-color: lightblue;
}
#Var-Definition {
    display: none;
    background-color: red;
}
.Var-Clickable {
    cursor: pointer;
    color: #0088cc;
    float: right;
}